.header {
  width: 100%;
  height: 100%;
  display: flex;

  background-color: var(--gray-700);

  /*----top, right, bottom, left----*/
  padding: 4.5rem 22rem 5rem 22rem;
  
  justify-content: center;
  justify-items: center;
}

img {
  height: 3rem;
  width: 7.875rem;
}
