/*------Li------*/
li {
  width: 100%;
  height: 100%;
  
  display: flex;
  background-color: var(--gray-500);
  border-radius: 8px;
  justify-content: space-between;

  padding: 1rem;

  list-style-type: none;
}

li label {
  display: flex;
  gap: 1rem;
  margin-right: 0.75rem;
}


/*------Input Check Button------*/

label span {
  width: 1rem;
  max-width: 100%;
  height: 1rem;
  max-height: 100%;

  display: flex;
  align-items: center;

  background-color: transparent;
  border: 2px solid var(--blue); 
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s;
}

label span .check {
  opacity: 0;
}

input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

input[type="checkbox"]:checked + span  {
  background-color: var(--purple);
  border-color: var(--purple);
}

input[type="checkbox"]:checked + span .check {
  opacity: 1;
}

input[type="checkbox"]:checked + span:after {
  opacity: 1;
}

p.completed {
  text-decoration: line-through;
  color: var(--gray-300);
}

li div label p {
  /* text-decoration:line-through; */
  color: var(--gray-100);
  font-size: 0.875rem;

  cursor: pointer;
}


/*------Thrash------*/
.trash {
  color: var(--gray-300);
  transition: color 0.2s;
  margin-top: 0.2rem;

  cursor: pointer;
}

.trash:hover {
  color: var(--danger-red);
}